<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    <p>¿No estas registrado? <a href="/users/register">Ingresa aqui</a></p>
     <p>¿Tienes cuenta de GitHub? <a href="/github/login">Ingresa con GitHub</a></p>
</div>

<script src="/js/login.js"></script>